/* Variables */
/* Barra de menu */
.fondo-menu {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  color: #18439f;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%; }

.relativo {
  position: relative; }

.absoluto {
  position: absolute; }

#menu {
  text-align: right; }

/* Desaparecer las secciones */
/*Alineacion del texto o imagen */
.derecha {
  float: right; }

.izquierda {
  float: left; }

/*Imagen de fondo en inicio */
#fondo {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 5%; }

/*Fondo de la pagina */
body {
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat; }

/*Contenedores del cuerpo de la pagina */
.container {
  background-color: transparent; }

.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: transparent; }

/*Fuentes de la pagina */
h2 {
  font: 200% Roboto;
  color: #18439f;
  margin-top: 5%; }

h1 {
  font: 250% Roboto;
  color: #18439f;
  margin-top: 5%; }

.cursiva {
  font-size: 150%;
  font-style: italic; }

/*Imagenes que hay en la pagina de inicio */
.img-inicio {
  position: relative;
  z-index: 1;
  width: 40%;
  margin-right: 2%;
  margin-bottom: 10%; }

/*Menu desplegable en dispositivos moviles */
.mostrar {
  display: table-cell;
  visibility: visible;
  background-color: rgba(241, 241, 241, 0.59);
  float: right; }

.ocultar {
  display: none;
  visibility: hidden; }

.calendario {
  width: 100%; }

/* Media query */
/* A menos de 767 pixeles*/
@media only screen and (max-width: 1200px) {
  #menu {
    text-align: right;
    background-color: rgba(241, 241, 241, 0.59); }

  .titulo {
    font-size: 1.1em;
    margin-bottom: 0%; }

  .jumbotron p {
    font-size: 1em;
    margin-bottom: 0%; }

  .cursiva {
    font-size: 1em; }

  .img-inicio {
    position: relative;
    width: 40%;
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 0%; }

  .btn-titulo {
    padding-right: 0%; } }

/*# sourceMappingURL=main.css.map */
